<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @ad.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ad.price %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @ad.tag_id %>
</p>

<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>
